<div class="panel p-2">
  <div class="m-0 h-[22px]">
    <input type="checkbox" (click)="selectOption('busStops', $event)" />
    <label class="ml-1 unselectable">Paradas de Micros</label>
  </div>
  <div class="m-0 h-[22px]">
    <input type="checkbox" (click)="selectOption('cityCameras', $event)" />
    <label class="ml-1 unselectable">Cámaras</label>
  </div>
  <div class="m-0 h-[22px]">
    <input type="checkbox" (click)="selectOption('parkings', $event)" />
    <label class="ml-1 unselectable">Parqueos</label>
  </div>
  <div class="m-0 h-[22px]">
    <input type="checkbox" (click)="selectOption('speedReducers', $event)" />
    <label class="ml-1 unselectable">Reductores</label>
  </div>
  <div class="m-0 h-[22px]">
    <input type="checkbox" (click)="selectOption('channelsRoutes', $event)" />
    <label class="ml-1 unselectable">Canales de Transporte</label>
  </div>

  <div class="collapsible-container">
    <div class="cursor-pointer m-0 h-[22px]">
      <input
        type="checkbox"
        [checked]="groupsMap['educationCentersGroups']"
        (click)="selectOption('educationCentersGroups', $event, true)"
      />
      <label class="cursor-pointer" (click)="toggleCollapse(0)"
        ><span class="unselectable">
          {{ this.expandedIndices.has(0) ? "-" : "+" }} Educación</span
        ></label
      >
    </div>
    @for(group of allData.educationCentersGroups; track group; let i = $index) {
    <div
      class="collapsible-content {{ isExpanded(0) ? '' : 'hidden' }}"
      [class.expanded]="isExpanded(0)"
    >
      <input
        id="education-{{ group.id }}"
        (click)="
          selectOption(
            'educationCentersGroups',
            $event,
            false,
            optionsMap['educationCentersGroups'].children![i]
          )
        "
        type="checkbox"
        [checked]="optionsMap['educationCentersGroups'].children![i].show"
      />
      <label for="education-{{ group.id }}" class="ml-1 unselectable">{{
        group.type
      }}</label>
    </div>
    }
  </div>
  <div class="collapsible-container">
    <div class="cursor-pointer m-0 h-[22px]">
      <input
        type="checkbox"
        [checked]="groupsMap['trafficLightsGroups']"
        (click)="selectOption('trafficLightsGroups', $event, true)"
      />
      <label class="cursor-pointer" (click)="toggleCollapse(1)"
        ><span class="unselectable">
          {{ this.expandedIndices.has(1) ? "-" : "+" }} Semáforos</span
        ></label
      >
    </div>
    @for(group of allData.trafficLightsGroups; track group; let i = $index) {
    <div
      class="collapsible-content {{ isExpanded(1) ? '' : 'hidden' }}"
      [class.expanded]="isExpanded(1)"
    >
      <input
        id="traffic-{{ group.id }}"
        (click)="
          selectOption(
            'trafficLightsGroups',
            $event,
            false,
            optionsMap['trafficLightsGroups'].children![i]
          )
        "
        type="checkbox"
        [checked]="optionsMap['trafficLightsGroups'].children![i].show"
      />
      <label for="traffic-{{ group.id }}" class="ml-1 unselectable">{{
        group.type
      }}</label>
    </div>
    }
  </div>
</div>
