.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  background-color: #ffffff;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.logo-micro {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.buttons-lg {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-lg {
  width: 62px !important;
  min-width: unset !important;
  height: 28px;
  min-height: unset !important;
  font-size: 12px;
  margin-bottom: 7px;
}

.buttons-sm {
  text-align: center;
  margin-bottom: 10px;
}

.button-sm {
  width: 40px !important;
  min-width: unset !important;
  height: 27px;
  min-height: unset !important;
  font-size: 9px;
  margin: 0 3px;
}

.button-go {
  background-color: #01a63d !important;
  color: white !important;
}

.button-return {
  background-color: rgba(51, 20, 255, 0.78) !important;
  color: white !important;
}

.input-lg {
  font-size: 15px !important;
}

.input-sm {
  font-size: 13px !important;
}
