<mat-tab-group preserveContent class="h-full overflow-y-hidden">
  <mat-tab>
    <ng-template mat-tab-label>
      Micros
      <mat-icon fontSet="material-symbols-outlined">directions_bus</mat-icon>
    </ng-template>
    <app-lines
      [linesNames]="linesNames"
      [lineRouteSelected]="lineRouteSelected"
      (lineRouteSelectedChange)="onLineRouteSelected($event)"
    />
  </mat-tab>
  <!-- TODO: Completar  -->
  <!-- <mat-tab>
    <ng-template mat-tab-label>
      Viaje <mat-icon fontSet="material-symbols-outlined">route</mat-icon>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      Micros cerca
      <mat-icon fontSet="material-symbols-outlined">radar</mat-icon>
    </ng-template>
  </mat-tab> -->
</mat-tab-group>
