<mat-tab-group preserveContent class="h-full overflow-y-hidden" [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      Micros
      <mat-icon fontSet="material-symbols-outlined">directions_bus</mat-icon>
    </ng-template>
    <app-lines
      [linesNames]="linesNames"
      [lineRouteSelected]="lineRouteSelected"
      (lineRouteSelectedChange)="onLineRouteSelected($event)"
    />
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      QR Parada <mat-icon fontSet="material-symbols-outlined">qr_code_2</mat-icon>
    </ng-template>
    <app-qr-buses-stop />
  </mat-tab>
</mat-tab-group>
