<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="drawer"
    mode="over"
    [autoFocus]="true"
    [opened]="showBusesOption"
  >
    <app-sidebar
      [selectedTab]="showBusesOption ? 1 : undefined"
      [linesNames]="allData.linesNames"
      [lineRouteSelected]="lineRouteSelected"
      (lineRouteSelectedChange)="onLineRouteSelected($event)"
    />
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <div class="h-full w-full z-[0] absolute">
        <div
          leaflet
          [leafletOptions]="options"
          [leafletBaseLayers]="baseLayers"
          [style]="styleMap()"
          (leafletMapReady)="onMapReady($event)"
        >
          @if (lineRouteSelected && showBusesOption) {
          <div
            [leafletLayer]="getLineRouteSelectedLayer(lineRouteSelected)"
          ></div>
          } @if(optionsMap['busStops'].show) {
          <div [leafletLayer]="optionsMap['busStops'].layer!"></div>
          } @if(optionsMap['cityCameras'].show) {
          <div [leafletLayer]="optionsMap['cityCameras'].layer!"></div>
          } @if(optionsMap['parkings'].show) {
          <div [leafletLayer]="optionsMap['parkings'].layer!"></div>
          } @if(optionsMap['channelsRoutes'].show) {
          <div [leafletLayer]="optionsMap['channelsRoutes'].layer!"></div>
          } @if(optionsMap['speedReducers'].show) {
          <div [leafletLayer]="optionsMap['speedReducers'].layer!"></div>
          } @for(child of optionsMap['educationCentersGroups'].children!; track
          child) { @if (child.show) {
          <div [leafletLayer]="child.layer!"></div>
          } } @for(child of optionsMap['trafficLightsGroups'].children!; track
          child) { @if (child.show) {
          <div [leafletLayer]="child.layer!"></div>
          } }
        </div>
      </div>

      <div class="float-end z-[1] relative m-2">
        <leaflet-panel-layers
          [allData]="allData"
          [(optionsMap)]="optionsMap"
          [(showBusesOption)]="showBusesOption"
        />
      </div>

      <div class="flex items-center justify-center h-full z-[2] absolute">
        <button
          class="{{ showBusesOption ? 'bg-white vertical-button' : 'hidden' }}"
          (click)="drawer.toggle()"
        >
          <span class="material-symbols-outlined">directions_bus</span>
        </button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
